.kafka-logo {
  max-width: 250px !important;
}

.image-small {
  max-width: 500px !important;
}

.image {
  max-width: 600px !important;
}

.image-wide {
  max-width: 800px !important;
}

.image-ultra {
  max-width: 1000px !important;
}

strong {
  color: chartreuse;
}

code {
  font-size: large;
}

.small {
  font-size: 75%;
}